/* HERO SECTION */
.hero {
  /* min-height: 70vh; */
  background: #f8faff;
  display: flex;
  align-items: center;
  background-image: url('https://www.capplace.com/Content/Images/site--pages/about-us/hero/1x-back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* WRAP */
.hero-wrap {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
  align-items: center;
}

/* LEFT */
.hero-left {
  color: #071a2d;
}

.hero-top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}

.circle-home {
  width: 12px;
  height: 12px;
  background: linear-gradient(135deg, #4fd1c5, #38bdf8);
  border-radius: 50%;
}

.quote {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #38bdf8;
}

.hero-title {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-title span {
  background: linear-gradient(90deg, #4fd1c5, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 18px;
}

.typing {
  color: #38bdf8;
}

.hero-desc {
  font-size: 18px;
  line-height: 1.7;
  color: black;
  max-width: 520px;
  margin-bottom: 30px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 18px;
}

.btn {
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.btn.primary {
  background: linear-gradient(135deg, #4fd1c5, #38bdf8);
  color: #071a2d;
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.4);
}

.btn.primary:hover {
  transform: translateY(-3px);
}

.btn.secondary {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.btn.secondary:hover {
  background: #38bdf8;
  color: #fff;
}

/* RIGHT IMAGE */
.hero-right img {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  display: block;
}

/* MOBILE */
@media (max-width: 900px) {
  .hero-wrap {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero {
    width: 100%;
  }

  .circle-home {
    width: auto;
  }

  .quote {
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
    color: black;
  }

  .hero-right img {
    margin: 30px auto 0;
  }

  .hero-title {
    font-size: 38px;
    padding-top: 20px;
    font-weight: 700;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-left {
    width: 95%;
    margin: auto;
  }

  .hero-top {
    gap: 0;
    width: 90%;
    justify-self: center;
  }

  .hero-subtitle {
    font-size: 30px;
    width: 100%;
    padding-top: 20px;
  }



}