* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system;
}

/* NAVBAR BASE */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  padding: 24px 0;
  transition: all 0.35s ease;
}

/* SCROLLED */
.navbar-scrolled {
  background: #3EC2EB(10, 37, 64, 0.9);
  backdrop-filter: blur(4px);
  box-shadow: 0 20px 40px rgba(198, 223, 244, 0.35);
  padding: 14px 0;
}

/* CONTAINER */
.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: 800;
  color: #555555;
  letter-spacing: 1px;
}

/* LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-links button {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: black;
  position: relative;
  transition: all 0.3s ease;
  border: none;
  background: none;
  cursor: pointer;
}

/* HOVER LINE */
.nav-links button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #EEBDC0,#eb8b91);
  transition: width 0.3s ease;
}

.nav-links button:hover
{
  color: #EEBDC0;
}
.nav-links button.active {
  color: #EEBDC0;
}

.nav-links button:hover::after,
.nav-links button.active::after {
  width: 100%;  
}

/* RESUME BUTTON */
.nav-links
.resume-btn 
{
  padding: 10px 22px;
  background: linear-gradient(135deg, #4fd1c5);
  color: #071a2d !important;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
}

.resume-btn::after {
  display: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background:#38bdf8;
  border-radius: 2px;
}

/* MOBILE */
@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 45%;
    background: rgba(211, 233, 255, 0.95);
    backdrop-filter: blur(14px);
    flex-direction: column;
    gap: 22px;
    padding: 30px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
