* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* =======================
   SERVICES SECTION
======================= */
.services {
  background: #EBECFB;
  padding: 60px 0;
  color: #071a2d;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
  text-align: center;
}

/* TAG */
.services-tag {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #38bdf8;
  display: inline-block;
  margin-bottom: 14px;
}

/* TITLE */
.services-title {
  font-size: 42px;
  margin-bottom: 70px;
}

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.service-card {
  background: #ffffff;
  padding: 40px 28px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(7, 26, 45, 0.12);
  transition: all 0.35s ease;
  text-align: left;
}

.service-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 35px 80px rgba(7, 26, 45, 0.18);
}

/* ICON */
.service-icon {
  width: 56px;
  height: 56px;
  background: linear-gradient(135deg, #4fd1c5, #38bdf8);
  color: #071a2d;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

/* CARD TITLE */
.service-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* DESC */
.service-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #4b5d73;
}

/* =======================
   CONTACT BANNER
======================= */
.contact-banner {
  background: linear-gradient(135deg, #4fd1c5, #38bdf8);
  padding: 30px 0;
  color: #071a2d;
}

.contact-banner-container {
width: 90%;
  margin: auto;
 
}

.contact-banner h2 {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 14px;
}

.contact-banner p {
  font-size: 18px;
  line-height: 1.7;
width: 55%;
  margin-bottom: 30px;
}

/* BUTTON */
.contact-btn {
  padding: 14px 34px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #071a2d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
}

/* =======================
   RESPONSIVE
======================= */
@media (max-width: 1100px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .services {
    
  }

  .services-title {
    font-size: 27px;
    width: 100%;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .contact-banner h2 {
    font-size: 30px;
  }
  .contact-banner p {
    width: 100%;
  }
}
