* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* SECTION */
.skills-dark {
  background: #EBECFB;
  color: #071a2d;
}

/* CONTAINER */
.skills-dark-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}

/* TITLE */
.skills-dark-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
}

.skills-dark-title span {
  background: linear-gradient(90deg, #4fd1c5, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GRID */
.skills-dark-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* SKILLS BOX */
.skills-box {
  background: #ffffff;
  padding: 36px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(7, 26, 45, 0.12);
  transition: all 0.35s ease;
}

.skills-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 30px 70px rgba(7, 26, 45, 0.18);
}

.skills-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
  color: #071a2d;
}

/* SKILL ROW */
.skill-row {
  margin-bottom: 22px;
}

/* HEADER */
.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #4b5d73;
}

/* BAR */
.skill-bar {
  height: 8px;
  background: #e6edf7;
  border-radius: 10px;
  overflow: hidden;
}

/* FILL */
.skill-fill {
  height: 100%;
  background: linear-gradient(90deg, #4fd1c5, #38bdf8);
  border-radius: 10px;
  animation: fillBar 1.6s ease forwards;
}
.skill-desc{
  text-align: center;
  font-size: 20px;
  color: #4b5d73;
  margin-bottom: 40px;
}
/* ANIMATION */
@keyframes fillBar {
  from {
    width: 0;
  }
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .skills-dark-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .skills-dark {
    padding: 20px 0;
  }
  .skill-desc{
    margin-bottom: 25px;
  }

  .skills-dark-grid {
    grid-template-columns: 1fr;
  }

  .skills-dark-title {
    font-size: 32px;
    font-weight: 700;
            margin-bottom: 35px;
  }
}
